body {
  border: 1px red;
  color: orange;
  background-image: url('https://wallpaperaccess.com/full/4317845.jpg');
}

.jumbotron {
  color: darkslategray;
  opacity: 100%;
  text-align: center;
}

.container {
}

.card {
  text-align: center;
  color: black;
  background-color: transparent;
  border: none;
}

.card-title {
  color: purple;
  opacity: 100%;
}

#nav {
  text-align: center;
}

.nav-link {
  border: 1px red;
  color: red;
  opacity: 100%;
}

#page-item {
  background-color: transparent;
  opacity: 100%;
}

/* .btn.btn-primary {
  background-color: red;
}

pagination justify-content-center {
  background-color: red;
} */